In [1]:
import pandas as pd
from sqlalchemy import create_engine
from geopandas import GeoDataFrame
from shapely.geometry import Point
import fiona
import collections
import json
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
# construct an engine connection string
engine_string = "postgresql+psycopg2://postgres:GoOrange@localhost:5432/schools"

# create sqlalchemy engine
engine = create_engine(engine_string)

# Get the necessary schools and add them to the locations file for later use

In [50]:
# read a table from database into pandas dataframe, replace "tablename" with your table name
colleges = pd.read_sql_table('HD2018',engine)

In [69]:
completions = pd.read_sql_table('C2018_A',engine)

# get the correct award level (totals = 15) and major number (first = 1)
completions = completions.loc[completions['AWLEVEL'] == 15]
completions = completions.loc[completions['MAJORNUM'] == 1]

In [70]:
completions = completions[['UNITID','CIPCODE','CTOTALT']]

In [71]:
cyberCip = pd.read_excel('cyber-story-data.xlsx', sheet_name='cip-cyber', usecols="F,G,H")

In [72]:
cyberCip['Cyber'] = "Yes"

In [73]:
completions.CIPCODE = completions['CIPCODE'].astype(str)

In [74]:
cyberCip.CIPCODE = cyberCip['CIPCODE'].astype(str)

In [75]:
completions = pd.merge(completions, cyberCip, how='left', on='CIPCODE')

In [76]:
completions = completions.loc[completions['Cyber'] == "Yes"]

In [77]:
completions.UNITID = completions['UNITID'].astype(str)

In [26]:
completions = completions[['UNITID','CIPCODE','CTOTALT','Program','Description']]

In [51]:
colleges.UNITID = colleges['UNITID'].astype(str)

In [52]:
colleges = colleges[['UNITID','INSTNM','ADDR','CITY',
                     'STABBR','ZIP','F1SYSNAM','CBSA',
                     'COUNTYNM','LONGITUD','LATITUDE']]

In [53]:
collegeCheck = colleges[['UNITID','INSTNM']]
collegeCheck = pd.merge(collegeCheck,completions,how='left',on='UNITID')

In [54]:
# only keep colleges with these programs
collegeCheck = collegeCheck[collegeCheck['CIPCODE'].notna()]

In [55]:
collegeCheck['Cyber'] = "Cyber"

In [56]:
collegeCheck = collegeCheck[['UNITID','Cyber']]

In [57]:
collegeCheck.drop_duplicates(inplace=True)

In [59]:
colleges = pd.merge(colleges,collegeCheck,how='left',on='UNITID')

In [62]:
# only keep colleges with cyber related programs
colleges = colleges.loc[colleges['Cyber'] == "Cyber"]

In [63]:
colleges = colleges[['UNITID','INSTNM','ADDR','CITY',
                     'STABBR','ZIP','F1SYSNAM','CBSA',
                     'COUNTYNM','LONGITUD','LATITUDE']]

In [66]:
colleges.to_csv('colleges-cyber-programs.csv', index=False)

# Now create a second file for those schools with the total completions in these CIP programs for all years available

In [67]:
colleges.head()

,UNITID,INSTNM,ADDR,CITY,STABBR,ZIP,F1SYSNAM,CBSA,COUNTYNM,LONGITUD,LATITUDE
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,-2 ...,26620,Madison County,-86.568502,34.783368
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,The University of Alabama System ...,13820,Jefferson County,-86.799345,33.505697
3,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,The University of Alabama System ...,26620,Madison County,-86.640449,34.724557
4,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,-2 ...,33860,Montgomery County,-86.295677,32.364317
6,100751,The University of Alabama,739 University Blvd,Tuscaloosa,AL,35487-0166,The University of Alabama System ...,46220,Tuscaloosa County,-87.545978,33.211875

In [80]:
completions = completions[['UNITID','CIPCODE','CTOTALT']]

In [81]:
completions.head()

       UNITID  CIPCODE  CTOTALT
31384  100654  11.0101       39
31385  100663  11.0101       70
31386  100706  11.0101      123
31387  100751  11.0101      102
31388  100760  11.0101       15