In [63]:
import pandas as pd
from sqlalchemy import create_engine
from geopandas import GeoDataFrame
import geopandas as gpd
from shapely.geometry import Point
import shapely.geometry as geom
import fiona
import collections
import json
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
# construct an engine connection string
engine_string = "postgresql+psycopg2://postgres:GoOrange@localhost:5432/schools"

# create sqlalchemy engine
engine = create_engine(engine_string)

# Get the necessary schools and add them to the locations file for later use

In [121]:
# read a table from database into pandas dataframe, replace "tablename" with your table name
colleges = pd.read_sql_table('HD2018',engine)

In [122]:
completions = pd.read_sql_table('C2018_A',engine)

# get the correct award level (totals = 15) and major number (first = 1)
completions = completions.loc[completions['AWLEVEL'] == 15]
completions = completions.loc[completions['MAJORNUM'] == 1]

In [123]:
completions = completions[['UNITID','CIPCODE','CTOTALT']]

In [124]:
cyberCip = pd.read_excel('cyber-story-data.xlsx', sheet_name='cip-cyber', usecols="F,G,H")

In [125]:
cyberCip['Cyber'] = "Yes"

In [126]:
completions.CIPCODE = completions['CIPCODE'].astype(str)

In [127]:
cyberCip.CIPCODE = cyberCip['CIPCODE'].astype(str)

In [128]:
completions = pd.merge(completions, cyberCip, how='left', on='CIPCODE')

In [129]:
completions = completions.loc[completions['Cyber'] == "Yes"]

In [130]:
completions.UNITID = completions['UNITID'].astype(str)

In [131]:
completions = completions[['UNITID','CIPCODE','CTOTALT','Program','Description']]

In [132]:
colleges.UNITID = colleges['UNITID'].astype(str)

In [133]:
colleges = colleges[['UNITID','INSTNM','ADDR','CITY',
                     'STABBR','ZIP','F1SYSNAM','CBSA',
                     'COUNTYNM','LONGITUD','LATITUDE']]

In [134]:
collegeCheck = colleges[['UNITID','INSTNM']]
collegeCheck = pd.merge(collegeCheck,completions,how='left',on='UNITID')

In [135]:
# only keep colleges with these programs
collegeCheck = collegeCheck[collegeCheck['CIPCODE'].notna()]

In [136]:
collegeCheck['Cyber'] = "Cyber"

In [137]:
collegeCheck = collegeCheck[['UNITID','Cyber']]

In [138]:
collegeCheck.drop_duplicates(inplace=True)

In [139]:
colleges = pd.merge(colleges,collegeCheck,how='left',on='UNITID')

In [140]:
# only keep colleges with cyber related programs
colleges = colleges.loc[colleges['Cyber'] == "Cyber"]

In [141]:
colleges = colleges[['UNITID','INSTNM','ADDR','CITY',
                     'STABBR','ZIP','F1SYSNAM','CBSA',
                     'COUNTYNM','LONGITUD','LATITUDE']]

In [66]:
colleges.to_csv('colleges-cyber-programs.csv', index=False)

# Now create a second file for those schools with the total completions in these CIP programs for all years available

In [142]:
completions = completions[['UNITID','CIPCODE','CTOTALT']]

In [143]:
completions['Programs'] = 1

In [144]:
completions = completions.groupby(['UNITID']).agg({'CTOTALT':'sum','Programs':'sum'}).reset_index()

In [145]:
colleges = pd.merge(colleges,completions,how='left',on='UNITID')

In [146]:
colleges.rename(columns={'UNITID'   : 'unitid',
                         'INSTNM'   : 'name',
                         'ADDR'     : 'address',
                         'CITY'     : 'city',
                         'STABBR'   : 'state',
                         'ZIP'      : 'zip',
                         'F1SYSNAM' : 'system',
                         'CBSA'     : 'cbsa',
                         'COUNTYNM' : 'county',
                         'LONGITUD' : 'longitude',
                         'LATITUDE' : 'latitude',
                         'CTOTALT'  : 'cyberCompletions2018',
                         'Programs' : 'cyberPrograms2018'}, inplace=True)

# Now repeat with 2010 completions

In [148]:
completionsTen = pd.read_sql_table('C2010_A',engine)

# get the correct award level (totals = 15) and major number (first = 1)
completionsTen = completionsTen.loc[completionsTen['AWLEVEL'] == 15]
completionsTen = completionsTen.loc[completionsTen['MAJORNUM'] == 1]

completionsTen = completionsTen[['UNITID','CIPCODE','CTOTALT']]

completionsTen.CIPCODE = completionsTen['CIPCODE'].astype(str)
completionsTen.UNITID = completionsTen['UNITID'].astype(str)


completionsTen = pd.merge(completionsTen, cyberCip, how='left', on='CIPCODE')
completionsTen = completionsTen.loc[completionsTen['Cyber'] == "Yes"]

completionsTen = completionsTen[['UNITID','CIPCODE','CTOTALT','Program','Description']]

In [150]:
completionsTen = completionsTen[['UNITID','CIPCODE','CTOTALT']]

completionsTen['Programs'] = 1

completionsTen = completionsTen.groupby(['UNITID']).agg({'CTOTALT':'sum','Programs':'sum'}).reset_index()

In [152]:
completionsTen.rename(columns={'UNITID'   : 'unitid',
                               'CTOTALT'  : 'cyberCompletions2010',
                               'Programs' : 'cyberPrograms2010'}, inplace=True)

In [154]:
colleges.shape

(2755, 13)

In [155]:
colleges = pd.merge(colleges,completionsTen,how='left',on='unitid')

In [157]:
colleges.head()

,unitid,name,address,city,state,zip,system,cbsa,county,longitude,latitude,cyberCompletions2018,cyberPrograms2018,cyberCompletions2010,cyberPrograms2010
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,-2 ...,26620,Madison County,-86.568502,34.783368,39,1,26.0,1.0
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,The University of Alabama System ...,13820,Jefferson County,-86.799345,33.505697,78,2,33.0,1.0
2,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,The University of Alabama System ...,26620,Madison County,-86.640449,34.724557,155,2,67.0,2.0
3,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,-2 ...,33860,Montgomery County,-86.295677,32.364317,44,3,34.0,2.0
4,100751,The University of Alabama,739 University Blvd,Tuscaloosa,AL,35487-0166,The University of Alabama System ...,46220,Tuscaloosa County,-87.545978,33.211875,102,1,45.0,1.0

In [162]:
# limit coordinates to a total of 6 digits
colleges = colleges.round({'latitude':4, 'longitude':4})

In [163]:
# convert completionsTwo to geodataframe and export to geojson
# push that to mbtiles via tippecanoe
geometry = [Point(xy) for xy in zip(colleges.longitude, colleges.latitude)]
collegeGeo = colleges.drop(['longitude', 'latitude'], axis=1)
crs = {'init': 'epsg:4326'}
collegeGeo = GeoDataFrame(collegeGeo, crs=crs, geometry=geometry)

In [165]:
collegeGeo.to_file("collegeGeo.geojson", driver='GeoJSON', index=True)

/anaconda2/lib/python3.6/site-packages/geopandas/io/file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

In [164]:
collegeGeo.head()

,unitid,name,address,city,state,zip,system,cbsa,county,cyberCompletions2018,cyberPrograms2018,cyberCompletions2010,cyberPrograms2010,geometry
0,100654,Alabama A & M University,4900 Meridian Street,Normal,AL,35762,-2 ...,26620,Madison County,39,1,26.0,1.0,POINT (-86.5685 34.7834)
1,100663,University of Alabama at Birmingham,Administration Bldg Suite 1070,Birmingham,AL,35294-0110,The University of Alabama System ...,13820,Jefferson County,78,2,33.0,1.0,POINT (-86.7993 33.5057)
2,100706,University of Alabama in Huntsville,301 Sparkman Dr,Huntsville,AL,35899,The University of Alabama System ...,26620,Madison County,155,2,67.0,2.0,POINT (-86.6404 34.7246)
3,100724,Alabama State University,915 S Jackson Street,Montgomery,AL,36104-0271,-2 ...,33860,Montgomery County,44,3,34.0,2.0,POINT (-86.2957 32.3643)
4,100751,The University of Alabama,739 University Blvd,Tuscaloosa,AL,35487-0166,The University of Alabama System ...,46220,Tuscaloosa County,102,1,45.0,1.0,POINT (-87.54600000000001 33.2119)

In [22]:
itCluster = pd.read_excel('cyber-story-data.xlsx', sheet_name="k12")
hSchools = pd.read_excel('../../../data/k12/schoolLocations.xlsx', usecols="A,D,F,J,M,N,O,P,T,AC,AD")
hSchools.rename(columns={'SCHOOL_NAM':'School Name',
                         'SYSTEM_NAM':'District',
                         'SCHOOL_ID':'ID',
                         'SCHOOL_CIT':'City',
                         'FIPS_COUNTY':"FIPS",
                         'COUNTY':'County',
                         'CD_REGION':'CDRegion'}, inplace=True)

In [23]:
schools = pd.merge(itCluster, hSchools, how='left', on=['District','School Name'])

In [26]:
geometry = [Point(xy) for xy in zip(schools.Longitude, schools.Latitude)]
schools = schools.drop(['Longitude', 'Latitude'], axis=1)
crs = {'init': 'epsg:4326'}
schools = GeoDataFrame(schools, crs=crs, geometry=geometry)

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [28]:
schools.to_file('hSchools.geojson', driver="GeoJSON")

In [2]:
contracts = pd.read_excel('cyber-story-data.xlsx', sheet_name="cyberGovContracts")
contractCities = pd.read_excel('cyber-story-data.xlsx', sheet_name="contractsCities")
contracts.drop_duplicates(inplace=True)
del contracts['Recipient Metro']

contracts = contracts.loc[contracts['Cyber'] == "Yes"]

In [62]:
# roll these up with total contracts by year and single total year, by performance city for mapbox tilset
# roll these up by performance city with total contracts for each year and total years for charts (maybe D3)
# roll these up

In [128]:
performanceCities = contracts.loc[contracts['Primary Place Of Performance State'] == 'GA' ]
performanceCities.reset_index(inplace=True, drop=True)

performanceCities = performanceCities.groupby( ['Primary Place Of Performance City','Year'] )\
                                     .agg({'Contracts':'sum'})\
                                     .reset_index()

performanceCities.rename(columns={'Primary Place Of Performance City':'City'}, inplace=True)

performanceCities = performanceCities.pivot_table(index=['City'],
                                                  columns='Year',
                                                  values='Contracts',
                                                  aggfunc='sum').reset_index()

performanceCities.rename(columns={2014:'Contracts_2014',
                                  2015:'Contracts_2015',
                                  2016:'Contracts_2016',
                                  2017:'Contracts_2017',
                                  2018:'Contracts_2018',
                                  2019:'Contracts_2019',
                                  2020:'Contracts_2020'}, inplace=True)

performanceCities.fillna(0, inplace=True)
performanceCities['Contracts_2014'] = performanceCities['Contracts_2014'].astype(int)
performanceCities['Contracts_2015'] = performanceCities['Contracts_2015'].astype(int)
performanceCities['Contracts_2016'] = performanceCities['Contracts_2016'].astype(int)
performanceCities['Contracts_2017'] = performanceCities['Contracts_2017'].astype(int)
performanceCities['Contracts_2018'] = performanceCities['Contracts_2018'].astype(int)
performanceCities['Contracts_2019'] = performanceCities['Contracts_2019'].astype(int)
performanceCities['Contracts_2020'] = performanceCities['Contracts_2020'].astype(int)

performanceCities['Contracts'] = performanceCities['Contracts_2014'] +\
                                 performanceCities['Contracts_2015'] +\
                                 performanceCities['Contracts_2016'] +\
                                 performanceCities['Contracts_2017'] +\
                                 performanceCities['Contracts_2018'] +\
                                 performanceCities['Contracts_2019'] +\
                                 performanceCities['Contracts_2020']

In [129]:
performanceCities.columns

Index(['City', 'Contracts_2014', 'Contracts_2015', 'Contracts_2016',
       'Contracts_2017', 'Contracts_2018', 'Contracts_2019', 'Contracts_2020',
       'Contracts'],
      dtype='object', name='Year')

In [130]:
performanceCities.head()

Year,City,Contracts_2014,Contracts_2015,Contracts_2016,Contracts_2017,Contracts_2018,Contracts_2019,Contracts_2020,Contracts
0,ALBANY,0,0,9,4,4,4,3,24
1,ATLANTA,3,19,25,31,37,15,10,140
2,AUGUSTA,0,2,19,30,21,14,4,90
3,BLYTHE,0,0,1,5,2,0,0,8
4,BRUNSWICK,1,9,4,8,16,4,3,45

In [131]:
performanceCities = pd.merge(performanceCities,contractCities,
                             how='left',
                             on='City')

performanceCities = performanceCities[['City','State','Contracts_2014','Contracts_2015','Contracts_2016',
                                       'Contracts_2017','Contracts_2018','Contracts_2019','Contracts_2020',
                                       'Contracts','Latitude','Longitude']]

performanceCities['City'] = performanceCities['City'].str.title()

In [132]:
performanceCities['Category'] = 'Performance'

In [133]:
performanceCities = performanceCities[['City','State','Category','Contracts_2014','Contracts_2015','Contracts_2016',
                                       'Contracts_2017','Contracts_2018','Contracts_2019','Contracts_2020',
                                       'Contracts','Latitude','Longitude']]

In [134]:
# repeat that process but with contractors by city, regardless of where they are doing the work
recipientCities = contracts.loc[contracts['Recipient State'] == 'GA' ]
recipientCities.reset_index(inplace=True, drop=True)

recipientCities = recipientCities.groupby( ['Recipient City','Year'] )\
                                     .agg({'Contracts':'sum'})\
                                     .reset_index()

recipientCities.rename(columns={'Recipient City':'City'}, inplace=True)

recipientCities = recipientCities.pivot_table(index=['City'],
                                                  columns='Year',
                                                  values='Contracts',
                                                  aggfunc='sum').reset_index()

recipientCities.rename(columns={2014:'Received_2014',
                                  2015:'Received_2015',
                                  2016:'Received_2016',
                                  2017:'Received_2017',
                                  2018:'Received_2018',
                                  2019:'Received_2019',
                                  2020:'Received_2020'}, inplace=True)

recipientCities.fillna(0, inplace=True)
recipientCities['Received_2014'] = recipientCities['Received_2014'].astype(int)
recipientCities['Received_2015'] = recipientCities['Received_2015'].astype(int)
recipientCities['Received_2016'] = recipientCities['Received_2016'].astype(int)
recipientCities['Received_2017'] = recipientCities['Received_2017'].astype(int)
recipientCities['Received_2018'] = recipientCities['Received_2018'].astype(int)
recipientCities['Received_2019'] = recipientCities['Received_2019'].astype(int)
recipientCities['Received_2020'] = recipientCities['Received_2020'].astype(int)

recipientCities['Received'] =   recipientCities['Received_2014'] +\
                                 recipientCities['Received_2015'] +\
                                 recipientCities['Received_2016'] +\
                                 recipientCities['Received_2017'] +\
                                 recipientCities['Received_2018'] +\
                                 recipientCities['Received_2019'] +\
                                 recipientCities['Received_2020']

In [135]:
recipientCities = pd.merge(recipientCities,contractCities,
                             how='left',
                             on='City')

recipientCities['Category'] = 'Recipient'

recipientCities = recipientCities[['City','State','Category','Received_2014','Received_2015','Received_2016',
                                       'Received_2017','Received_2018','Received_2019','Received_2020',
                                       'Received','Latitude','Longitude']]

recipientCities['City'] = recipientCities['City'].str.title()

In [136]:
del performanceCities['Category']
del recipientCities['Category']

In [137]:
contractsByCity = pd.merge(recipientCities,performanceCities,how='outer',on=['City','State','Latitude','Longitude'])

In [138]:
contractsByCity = contractsByCity[['City','State','Received_2014','Received_2015','Received_2016',
                                       'Received_2017','Received_2018','Received_2019','Received_2020',
                                       'Received','Contracts_2014','Contracts_2015','Contracts_2016',
                                       'Contracts_2017','Contracts_2018','Contracts_2019','Contracts_2020',
                                       'Contracts','Latitude','Longitude']]

contractsByCity.fillna(0, inplace=True)

contractsByCity['Received_2014'] = contractsByCity['Received_2014'].astype(int)
contractsByCity['Received_2015'] = contractsByCity['Received_2015'].astype(int)
contractsByCity['Received_2016'] = contractsByCity['Received_2016'].astype(int)
contractsByCity['Received_2017'] = contractsByCity['Received_2017'].astype(int)
contractsByCity['Received_2018'] = contractsByCity['Received_2018'].astype(int)
contractsByCity['Received_2019'] = contractsByCity['Received_2019'].astype(int)
contractsByCity['Received_2020'] = contractsByCity['Received_2020'].astype(int)
contractsByCity['Contracts_2014'] = contractsByCity['Contracts_2014'].astype(int)
contractsByCity['Contracts_2015'] = contractsByCity['Contracts_2015'].astype(int)
contractsByCity['Contracts_2016'] = contractsByCity['Contracts_2016'].astype(int)
contractsByCity['Contracts_2017'] = contractsByCity['Contracts_2017'].astype(int)
contractsByCity['Contracts_2018'] = contractsByCity['Contracts_2018'].astype(int)
contractsByCity['Contracts_2019'] = contractsByCity['Contracts_2019'].astype(int)
contractsByCity['Contracts_2020'] = contractsByCity['Contracts_2020'].astype(int)

contractsByCity['Contracts'] = contractsByCity['Contracts'].astype(int)
contractsByCity['Received'] = contractsByCity['Received'].astype(int)

In [139]:
contractsByCity.head()

,City,State,Received_2014,Received_2015,Received_2016,Received_2017,Received_2018,Received_2019,Received_2020,Received,Contracts_2014,Contracts_2015,Contracts_2016,Contracts_2017,Contracts_2018,Contracts_2019,Contracts_2020,Contracts,Latitude,Longitude
0,Albany,GA,0,0,1,0,0,0,0,1,0,0,9,4,4,4,3,24,42.651167,-73.754968
1,Alpharetta,GA,0,0,0,0,2,4,0,6,0,0,0,0,0,0,0,0,34.070958,-84.274733
2,Atlanta,GA,4,35,33,53,69,48,18,260,3,19,25,31,37,15,10,140,33.748992,-84.390264
3,Augusta,GA,0,1,5,4,4,8,3,25,0,2,19,30,21,14,4,90,33.470971,-81.974843
4,Blythe,GA,0,0,1,5,2,0,0,8,0,0,1,5,2,0,0,8,33.613477,-114.593754

In [140]:
geometry = [Point(xy) for xy in zip(contractsByCity.Longitude, contractsByCity.Latitude)]
contractsByCity = contractsByCity.drop(['Longitude', 'Latitude'], axis=1)
crs = {'init': 'epsg:4326'}
contractsByCity = GeoDataFrame(contractsByCity, crs=crs, geometry=geometry)

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [143]:
contractsByCity.to_csv('deleteContractsByCity.csv', index=False)

In [141]:
contractsByCity.to_file('cyberContractsCities.geojson', driver="GeoJSON")

In [88]:
contracts = pd.read_excel('cyber-story-data.xlsx', sheet_name="cyberGovContracts")
contractCities = pd.read_excel('cyber-story-data.xlsx', sheet_name="contractsCities")
contracts.drop_duplicates(inplace=True)


contracts = contracts.loc[contracts['Cyber'] == "Yes"]

In [65]:
atlContracts = contracts.loc[contracts['Recipient Metro'] == 'ATLANTA']
atlContracts = atlContracts.loc[atlContracts['Recipient State'] == 'GA']

In [66]:
atlContracts = atlContracts.groupby(['Recipient Metro','Primary Place Of Performance City']).agg({'Contracts':'sum'}).reset_index()

In [67]:
atlContracts.rename(columns={'Primary Place Of Performance City':'D_City',
                             'Recipient Metro':'O_City'}, inplace=True)

In [68]:
atlContracts = pd.merge(atlContracts,contractCities,how='left',left_on='O_City', right_on='City')
atlContracts.rename(columns={'Latitude':'O_Lat',
                                'Longitude':'O_Lon'}, inplace=True)
atlContracts = atlContracts[['O_City','O_Lat','O_Lon','D_City','Contracts']]

atlContracts = pd.merge(atlContracts,contractCities,how='left',left_on='D_City', right_on='City')

atlContracts.rename(columns={'Latitude':'D_Lat',
                                'Longitude':'D_Lon'}, inplace=True)

In [69]:
atlContracts['geometry'] = atlContracts.apply(lambda x: geom.LineString([(x['O_Lon'], x['O_Lat']) , (x['D_Lon'], x['D_Lat'])]), axis = 1)

In [70]:
atlContracts['story'] = "atlContracts"
atlContracts['type'] = "contractLine"

In [71]:
atlContracts = atlContracts[['O_City','O_Lat','O_Lon','D_City','Contracts','City','State','D_Lat','D_Lon','story','type', 'geometry']]

In [72]:
atlContractPoints['story'] = 'atlContracts'
atlContractPoints['type'] = 'contractCity'

In [73]:
atlContractPoints = atlContracts[['City','State','D_Lat','D_Lon','story','type','Contracts']]
geometry = [Point(xy) for xy in zip(atlContractPoints.D_Lon, atlContractPoints.D_Lat)]
atlContractPoints = atlContractPoints.drop(['D_Lon', 'D_Lat'], axis=1)
crs = {'init': 'epsg:4326'}
atlContractPoints = GeoDataFrame(atlContractPoints, crs=crs, geometry=geometry)
atlContractPoints.to_file('atlContractsPoints.geojson', driver="GeoJSON")

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [74]:
atlContracts = atlContracts[['O_City','D_City','Contracts','story','type','geometry']]

In [75]:
atlContracts.head()

,O_City,D_City,Contracts,story,type,geometry
0,ATLANTA,ATLANTA,113,atlContracts,contractLine,"LINESTRING (-84.39026440000001 33.7489924, -84..."
1,ATLANTA,BETHESDA,3,atlContracts,contractLine,"LINESTRING (-84.39026440000001 33.7489924, -77..."
2,ATLANTA,BOSTON,5,atlContracts,contractLine,"LINESTRING (-84.39026440000001 33.7489924, -71..."
3,ATLANTA,BOULDER,1,atlContracts,contractLine,"LINESTRING (-84.39026440000001 33.7489924, -10..."
4,ATLANTA,CAMP H M SMITH,2,atlContracts,contractLine,"LINESTRING (-84.39026440000001 33.7489924, -15..."

In [76]:
atlContracts = GeoDataFrame(atlContracts, geometry=atlContracts.geometry)
atlContracts.to_file('atlContractsLines.geojson', driver="GeoJSON")

In [77]:
gordonContracts = contracts.loc[contracts['Primary Place Of Performance City'] == 'FORT GORDON']
gordonContracts = gordonContracts.loc[contracts['Recipient State'] == 'GA']

In [78]:
gordonContracts = gordonContracts.groupby(['Primary Place Of Performance City','Recipient City']).agg({'Contracts':'sum'}).reset_index()

In [79]:
gordonContracts.rename(columns={'Primary Place Of Performance City':'O_City'}, inplace=True)

In [80]:
gordonContracts = pd.merge(gordonContracts,contractCities,how='left',left_on='O_City', right_on='City')

In [81]:
gordonContracts.rename(columns={'Latitude':'O_Lat',
                                'Longitude':'O_Lon',
                                'Recipient City':'D_City'}, inplace=True)
gordonContracts = gordonContracts[['O_City','O_Lat','O_Lon','D_City','Contracts']]

gordonContracts = pd.merge(gordonContracts,contractCities,how='left',left_on='D_City', right_on='City')

gordonContracts.rename(columns={'Latitude':'D_Lat',
                                'Longitude':'D_Lon'}, inplace=True)

In [82]:
contractCities.head()

         City State   Latitude   Longitude
0   ANCHORAGE    AK  61.216313 -149.894852
1  HUNTSVILLE    AL  34.729847  -86.585901
2     MADISON    AL  34.773681  -86.567509
3      BENTON    AR  36.345619  -94.267040
4       CABOT    AR  34.974532  -92.016534

In [83]:
gordonContracts['geometry'] = gordonContracts.apply(lambda x: geom.LineString([(x['O_Lon'], x['O_Lat']) , (x['D_Lon'], x['D_Lat'])]), axis = 1)

In [84]:
gordonContracts = GeoDataFrame(gordonContracts, geometry=gordonContracts.geometry)

In [85]:
gordonContracts.to_file('gordonContractsLines.geojson', driver="GeoJSON")

In [86]:
atlContracts.head()

,O_City,D_City,Contracts,story,type,geometry
0,ATLANTA,ATLANTA,113,atlContracts,contractLine,"LINESTRING (-84.39026 33.74899, -84.39026 33.7..."
1,ATLANTA,BETHESDA,3,atlContracts,contractLine,"LINESTRING (-84.39026 33.74899, -77.12423 38.9..."
2,ATLANTA,BOSTON,5,atlContracts,contractLine,"LINESTRING (-84.39026 33.74899, -71.05829 42.3..."
3,ATLANTA,BOULDER,1,atlContracts,contractLine,"LINESTRING (-84.39026 33.74899, -105.27055 40...."
4,ATLANTA,CAMP H M SMITH,2,atlContracts,contractLine,"LINESTRING (-84.39026 33.74899, -157.90991 21...."

In [194]:
collegeGeoAlbers = gpd.read_file('collegeGeoAlbers.geojson')

In [198]:
collegeGeoAlbers = collegeGeoAlbers.loc[collegeGeoAlbers['cyberCompletions2018'] >= 100]

In [200]:
collegeGeoAlbers.fillna(0, inplace=True)

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [206]:
collegeGeoAlbers['completionsChange'] = collegeGeoAlbers['cyberCompletions2018'] - collegeGeoAlbers['cyberCompletions2010']
collegeGeoAlbers['programsChange'] = collegeGeoAlbers['cyberPrograms2018'] - collegeGeoAlbers['cyberPrograms2010']

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [207]:
collegeGeoAlbers = collegeGeoAlbers[['unitid','name','city','state','system','cbsa','county',
                                     'cyberCompletions2018','cyberCompletions2010','completionsChange',
                                     'cyberPrograms2018','cyberPrograms2010','programsChange',
                                     'geometry']]

In [210]:
collegeGeoAlbers = GeoDataFrame(collegeGeoAlbers, geometry=collegeGeoAlbers.geometry)

In [213]:
collegeGeoAlbers.to_file('collegeGeoAlbers.geojson', driver="GeoJSON")

In [89]:
places = gpd.read_file('collegeGeoAlbers.geojson')

In [91]:
caeSchools = pd.read_excel('cyber-story-data.xlsx', sheet_name="caeColleges")

In [92]:
caeSchools['Schools'] = 1
caeSchools = caeSchools.groupby('State').agg({'Schools':'sum'}).reset_index()

In [97]:
states = gpd.read_file('../../../data/spatial/state/states-shape/stateCentroids.geojson')

In [101]:
states = states[['name','postal','geometry']]

In [98]:
caeSchools.sort_values('Schools', ascending=False, inplace=True)

In [103]:
caeSchools = pd.merge(caeSchools,states,how='outer',left_on='State',right_on='name')

In [105]:
caeSchools.shape

(52, 5)

In [112]:
caeSchools.sort_values('State', inplace=True)

In [117]:
caeSchools.dropna(subset=['name'], inplace=True)

In [122]:
caeSchools = caeSchools.loc[caeSchools['postal'] != 'DC']

In [124]:
caeSchools['Schools'].fillna(0, inplace=True)

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [125]:
caeSchools = caeSchools[['name','postal','Schools','geometry']]

In [126]:
caeSchools = GeoDataFrame(caeSchools, geometry=caeSchools.geometry)

In [127]:
caeSchools.to_file('stateCaeSchools.geojson', driver="GeoJSON")

In [128]:
caeSchools.head()

          name postal  Schools                    geometry
13     Alabama     AL     10.0    POINT (8.11259 -5.58887)
15     Arizona     AZ      8.0  POINT (-12.31444 -3.40710)
39    Arkansas     AR      2.0    POINT (3.35178 -3.77985)
5   California     CA     15.0   POINT (-17.86145 0.73342)
12    Colorado     CO     12.0    POINT (-6.86214 0.66640)